name: Go fuzz test
on:
  push:
    branches:
      - main
      - dev
jobs:
  fuzz-test:
    name: Fuzz test
    runs-on: ubuntu-latest
    steps:
      - uses: jidicula/go-fuzz-action@v1.1.0
        with:
          packages: './transpiler'
          fuzz-time: 1h
